<!-- <% layout("/layouts/boilerplate.ejs") %> -->
<div class="row">
  <div class="col-8 offset-3">
    <h4>        <b> <%= book.title   %>    </b> <br>
</h4>
  </div>
  <div class="card col-6 offset-3 show-card">
    <div class="card-body">
      <p class="card-text">
        <b> Chapter No <%= chapter.chapter_number   %> - <%= chapter.title  %>       </b>
        <br />
        
        <%= chapter.summary  %> <br />
        <%= chapter.summary  %> <br />
        <%= chapter.summary  %> <br />
        <%= chapter.summary  %> <br />
      </p>
    </div>
  </div> 
  </div>
</div>
